<section>
  <h2>{{'WORK' | translate}}</h2>
  <div *ngFor="let selected of work; let last = last;" class="cv-item" [ngClass]="{last: last}">
    <div class="work-title">
      <div class="work-position">{{selected.position}}</div>
      <div class="work-company">{{selected.company}}</div>
    </div>
    <div class="work-period">{{selected.startDate}} - {{selected.endDate}}</div>
    <div class="work-summary">{{selected.summary}}</div>
    <div class="work-label">Activities:</div>
    <div class="work-highlights">
      <ul>
        <li *ngFor="let activity of selected.highlights">{{activity}}</li>
      </ul>
    </div>
    <div class="work-label">Tools:</div>
    <div class="work-tools">
      {{selected.tools.join(', ')}}
    </div>
  </div>
</section>
