<section>
  <h1>{{'SKILLS' | translate}}</h1>
  <ng-container *ngIf="methodTechniques.length">
    <h3>{{'METHODS_TECHNIQUES' | translate}}</h3>
    <ul>
      <li *ngFor="let skill of methodTechniques">{{skill.name}} - {{skill.level}}</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="branchKnowledge.length">
    <h3>{{'BRANCH_SKILLS' | translate}}</h3>
    <ul>
      <li *ngFor="let skill of branchKnowledge">{{skill.name}} - {{skill.level}}</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="programming.length">
    <h3>{{'PROGRAMMING' | translate}}</h3>
    <ul>
      <li *ngFor="let skill of programming">{{skill.name}} - {{skill.level}}</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="serverSoftware.length">
    <h3>{{'SERVER_SOFTWARE' | translate}}</h3>
    <ul>
      <li *ngFor="let skill of serverSoftware">{{skill.name}} - {{skill.level}}</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="tools.length">
    <h3>{{'TOOLS' | translate}}</h3>
    <ul>
      <li *ngFor="let skill of tools">{{skill.name}} - {{skill.level}}</li>
    </ul>
  </ng-container>

  <ng-container *ngIf="oSes.length">
    <h3>{{'OSSES' | translate}}</h3>
    <ul>
      <li *ngFor="let skill of oSes">{{skill.name}} - {{skill.level}}</li>
    </ul>
  </ng-container>
</section>
