<mat-toolbar>
  <button class="laadknop" (click)="getResume('5def68f90741e246f29b83c3')">Load</button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened [(opened)]="opened" [fixedInViewport]="false" class="doNotPrint">
    <app-cvparts [resumeData]="resumeData"></app-cvparts>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><mat-checkbox [(ngModel)]="opened" class="doNotPrint"></mat-checkbox></p>
    <app-preview></app-preview>
  </mat-sidenav-content>
</mat-sidenav-container>
