<mat-sidenav-container>
  <mat-sidenav mode="side" opened [(opened)]="opened" [fixedInViewport]="true" [fixedTopGap]="64" class="doNotPrint">
    <mat-toolbar class="topbar"></mat-toolbar>

    <app-cvparts [resumeData]="resumeData"></app-cvparts>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="topbar">
      <button mat-raised-button color="primary" class="laadknop" (click)="getResume('5def68f90741e246f29b83c3')">Load</button>
    </mat-toolbar>
    <app-preview></app-preview>
  </mat-sidenav-content>
</mat-sidenav-container>
