/* preview pages*/
/* make the preview like this: https://codepen.io/rafaelcastrocouto/pen/LFAes */
div#print-section {
  background: rgb(204,204,204);
}

section[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

app-titlepage {
  width: 21cm;
  height: 29.7cm;
}

@media print {
  body, section {
    margin: 0;
    box-shadow: none;
    page-break-after: always;
    page-break-inside: avoid;
  }
}

/* Title page */
#title-page h1 {
  font-size: 3em;
}

app-footer {
  position: absolute;
  bottom: 0;
  font-size: 0.8em;
  color: #595959;
  text-align: center;
  height: 0.5in;
  margin: 0;
  padding: 0;
}

